select.form-control-selected-PopupDashboardUser option.active-selected-PopupDashboardUser {
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
}
.non-active-selected-PopupDashboardUser {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}